$red-color: #ed1d24;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

i {
  margin-left: 1rem;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none !important;
}

header {
  background: #ed1d24;
  display: flex !important;
  justify-content: center;
  align-items: center;

  img {
    width: 12.5rem;
  }
}

.bg-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url('./assets/background-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.25;
  }

  nav {
    position: relative;

    ul {
      display: flex;
      width: 18.75em;
      justify-content: space-between;

      li {
        background: #ed1d24;
        padding: 1rem;
        color: white;
        border-radius: 0.5rem;
        margin: 0.3rem;

        &:hover {
          transform: translateY(-0.5rem);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;

  img {
    object-fit: cover;
    width: 100%;
    height: 18vw;
  }
}

.flex {
  display: flex;
  justify-content: space-around;
}

ul.myNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $red-color;
  width: 24rem;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 3rem 0;

  li {
    color: white;
  }
}

// truncate titles
// .card-title {
//   width: 250px;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;

//   padding: 20px;
//   font-size: 1.3rem;
//   margin: 0;
//   background: white;
//   resize: horizontal;
// }
